[Unit]
Description=Test Service
After=multi-user.target
Conflicts=getty@tty1.service

[Service]
Type=simple
ExecStart=/home/ubuntu/EmailDownloader/DownloaderVenv/bin/python /home/ubuntu/EmailDownloader/test_service.py
StandardInput=tty-force

[Install]
WantedBy=multi-user.target